
.container-footer{	
height: 180px;	
width: 1440px;
background-color: #BFEBFF;
display: flex;
margin-top:60rem;
color:#23314B;
}

.brand{
height: 23px;	
width: 111px;	
color: #23314B;	
font-family: ".SF NS Display";	
font-size: 20px;	
line-height: 23px;
margin: 50px;

}
.footer-links{
height: 24px;	width: 84px;	
color: #3A464C;	
font-family: ".SF NS Display";	
font-size: 14px;	
line-height: 24px;
margin : 100px;
display: inline-flex;




}
span{
margin-left: 50px;
}
.copyright{
height: 24px;	
width: 266px;	
color: #6C94A9;
font-family: ".SF NS Display";
font-size: 14px;	line-height: 24px;	text-align: center;
margin-left: 200px;

}
