.rectangle {
  height: 230px;
  width: 1440px;
  background-color: #BFEBFF;
  margin-top: 500px;
  
}
  .cruisebuddy {
  display: flex;
  color: white;
  font-family: "Raleway', sans-serif";
  font-size: 20px;
  padding: 30px;
  margin-left: 60px;  

}
  .copyright{
    text-align: center;
    color: #6C94A9;
    font-family: ".SF NS Display";
    font-size: 14px;
    margin-left: 30rem;
    padding: 20px;
  
    }
    .main-footer{
     justify-content: space-around;
     display: flex; 
     margin: 30px;
    }