.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: absolute;
  bottom: 0;
}

.footer .footer-content {
  border: 1px solid red;
  height: 350px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}