@import url('https://fonts.googleapis.com/css?family=Lato:400i&display=swap');
.navbar-brand {	
  height: 23px;	
  width: 111px;	
  color: #000000;	
  font-family: 'lato', sans-serif; 
  font-style: italic;
  font-size: 20px;	
  line-height: 23px;}
  /* NAV BAR */
.navbar {
  position: fixed;
  height: 60px;
  padding: 14px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
  align-content: center;
  background-color: #064064;
}
.nav-text-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.navbar-r, .navbar-l {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.navbar-l {
  width: 50px;
  position: relative;
}
.navbar-r {
  width: 200px;
  display: grid;
  justify-content: space-between;
  position: relative;
}
.logo {
  align-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-decoration: none;
  color: white;
}
.logo:hover {
  text-decoration: none;
  color: #5dbcb2;
}
.logo:hover {
  text-decoration: none;
  color: #5dbcb2;
}
.navbar-icons {
  text-decoration: none;
  color: white;
}
.navbar-icons:hover {
  text-decoration: none;
  color: white;
}
/* End Nav Bar */
/* Begin Footer */
.rectangle {
  height: 230px;
  width: 100%;
  background-color: #BFEBFF;
  margin-top: 500px;
}
  .cruisebuddy {
  display: flex;
  color: white;
  font-family: "Raleway', sans-serif";
  font-size: 20px;
  padding: 30px;
  margin-left:150px;  
  }
  .copyright{
    text-align: center;
    color: #6C94A9;
    font-family: ".SF NS Display";
    font-size: 14px;
    margin-left: 30rem;
    padding: 20px;
    }
    .main-footer{
     justify-content: space-around;
     display: flex; 
     margin: 30px;
     margin-left: 130px;
     width: 600px;
    } 
/* End Footer */