.hero-div {
  text-align: center;
  color: white;
  background-image: url("../images/heroImage.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 1440px;
  height: 944px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

}

.container-fluid{
  background-color: #E3F3F9;
  height: 171px;	
  width: 1276px;
  display: inline-flex;
  align-content: flex-end;
  margin-top: 60rem;
}