
.reviews-img {
  background-image: url("../images/review-hero.jpg");
  box-sizing: border-box;
  height: 777px;
  width: 1440px;
  background-color: #ffffff;
  background-size: cover;
}




h1 {
  height: 108px;
  width: 591px;
  color: #101a1f;
  font-family: ".SF NS Display";
  font-size: 24px;
  line-height: 36px;
  padding: 80px;
  margin-left: 80px;

}

 .main-review-page{
   padding: 100px; 
   margin-left: 80px;

 }
.review-input {
  width: 382px;
  height: 50px;
  margin: none;
  padding: 60px;


}
/* component */

.star-rating {
 
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}



.star-rating label:hover,
.star-rating label:hover ~ label {
  color: blue;
}
.c-2 {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;  
 
  }
  
  .div11 { grid-area: 1 / 2 / 2 / 3; }
  .div22 { grid-area: 1 / 1 / 2 / 2; }
/* explanation */

.form-group-{
  width: 600px;

}

.active {
  color: blue !important;
}
.box{
  width: 682px;
  height: 330px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  padding: 200px;
  margin-left: 60px;
}
