
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.search-nav-container {
  background-color: #1b77ac;
  height: 64px;
}

.form-group {
  display: flex;
  justify-content: space-between;

}
.search-filters {
  text-align:center;

}

.form-group {
  width: 100%;
  margin-top: 200px;
}


button, input, optgroup, select, textarea {
  margin: 15px;
}

.search-sort-container{
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
}

.search-sort{
  font-family: 'lato', sans-serif;  
  font-size: 14px;
  font-color: #4E555B;
}

.review-preview {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.desc-preview {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  text-decoration: none!important;
}

.card-title {
  color: #3A464C;
}

.desc-preview a:hover {
  text-decoration: none!important;
}
.card a:hover {
  text-decoration: none!important;
}



