.carousel-wrapper {
  position: relative;
  z-index: 1;
}

.button-wrapper {
  position: absolute; 
  right: 5px; 
  bottom: 5px;
  z-index: 100;
}

.ship-gallery-wrapper {
  height: 400px;

}

.ship-gallery-image {
  height: 100%;
  object-position: 50% 50%;
}