/* NAV BAR */

.navbar {
  padding: 0;
  position: fixed;
  padding: 14px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 5;
  align-content: center;
  background-color: #064064;
}

.navbar-r, .navbar-l {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.navbar-l {
  width: 50px;
  position: relative;
}

.navbar-r {
  width: 200px;
  display: block;
  justify-content: space-between;
  position: relative;
}

.logo {
  align-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-decoration: none;
  color: white;
}

.logo:hover {
  text-decoration: none;
  color: #5dbcb2;
}

.logo:hover {
  text-decoration: none;
  color: #5dbcb2;
}

.btn {
  padding:0px!important;
}

.navbar-icons {
  text-decoration: none;
  color: white;
}

.navbar-icons:hover {
  text-decoration: none;
  color: white;
}